---
---

$nav-background: #fff;
$nav-font: #24292e;

$jumbotron-background: #ECEEEF;
$jumbotron-font: #FFF;

#bd-main-nav {
  display: inline-block;
}

footer {
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
  background: #212020;
  color: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;
}

footer a {
  color: #fff;
}

.bd-navbar {
  min-height: 4rem;
  background-color: $nav-background;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  border-bottom-color: #2e3d54;
}

.navbar-nav {
  margin: auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

nav form input.form-control {
  margin: .5em 0em;
}

nav form button > i {
    margin-left: -40px;
}

nav form button {
  background:none; 
  border:none;
  padding:0;
}

.navbar-nav .nav-item .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: $nav-font;
  opacity: 0.5;
  text-transform: uppercase;
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover, .navbar-brand, .navbar-brand:hover {
  color: $nav-font;
  background-color: transparent;
  opacity: 1;
}

.navbar-brand {
  margin-right: 0rem;
} 

.jumbotron {
  border-radius: 0rem;
}

.jumbotron.image {
  background-image: url("/boilerplate/images/milky-way-923801_1280.jpg");
  background-size: cover;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
}

div.card {
  height: 150px;
  width: 150px;
  padding: 20px;
  background: #fff;
}

ul.list {
    padding: 0;
    list-style-type: none;
}

ul.list a {
  color: #545454;
  text-decoration: underline;
}

a.list-letter {
  text-decoration: none;
}
