
<header class="navbar navbar-dark navbar-toggleable-md bd-navbar">
  <nav class="container text-center">
    <a class="navbar-brand" href="/">
      {{ site.name }}
    </a>
    <div>
      <form action="{{ site.url }}/search" method="get" class="form-inline">
        <div class="form-group">
          <input type="text" name="query" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Enter song/artist">
        </div>

        <button type="submit"><i class="material-icons mb-3 mb-md-0 mt-md-2">search</i></button>
      </form>
    </div>
  </nav>
</header>

