
<header class="navbar navbar-dark navbar-toggleable-md bd-navbar">
  <nav class="container text-center">
    <a class="navbar-brand" href="{{ site.url }}">
      {{ site.name }}
    </a>
    
    <div class="navbar-nav-scroll" id="bd-main-nav">
      <ul class="navbar-nav bd-navbar-nav flex-row d-none d-md-flex">
      {% for p in site.tabs %}
         {% if p.location == "nav" %}
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/{{ p.quick_url }}">{{ p.quick_url }}</a>
            </li>
        {% endif %}
      {% endfor %}
        
      </ul>
    </div>
  </nav>
</header>
<div>
  <form action="search">
    <div class="form-group">
      <input type="text" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Enter song/artist">
    </div>
  </form>
</div>
