<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="jumbotron">
      <div class="container text-center">
        <h1>{{ page.title }}</h1>
        <form action="{{ site.url }}/search" method="get" class="form-inline justify-content-center">
          <div class="form-group">
            <input type="text" name="query" class="form-control" id="homeSearch">
          </div>

          <button type="submit" class="btn ml-1 btn-success">Find Tabs</button>
        </form>
      </div>
    </div>
    
    <div class="container my-5">
      <div class="row">
        <div class="col-md-4">
          <h2>Quality</h2>
          <p>We gather tabs from around the web, ensuring we have the best version for you.</p>
        </div>
        <div class="col-md-4">
          <h2>Beauty</h2>
          <p>We want to make tabs #lookGreatAgain. Lets end ugly chord books and get back to how tabs are supposed to look</p>
        </div>
        <div class="col-md-4">
          <h2>Clarity</h2>
          <p>We will never clutter our pages, just the best looking tabs.</p>
        </div>
      </div>
    </div>

  {% include footer.html %}
  {% include scripts.html %}
  
  </body>
</html>
