<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include nav.html %}
    
  <div class="container my-5">
    {{ page.title }}
    
    <ul>
      {% for p in site.tabs %}
            <li class="nav-item">
              {{ p.location }}{{ page.quick_link }}
            </li>
         {% if p.location == page.quick_link | downcase %}
            <li class="nav-item">
              <a href="{{ site.url }}{{ p.quick_url }}">{{ p.title }}</a>
            </li>
        {% endif %}
      {% endfor %}
        
      </ul>
  </div>
  
  {% include footer.html %}
  {% include scripts.html %}
  </body>
</html>
